html {
  box-sizing: border-box;
  background-color: #282829;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #ffffff;
}

body {
  max-width: 80ch;
  min-height: 100vh;
  margin: auto;
  padding: 0;
}

a {
  text-decoration: none;
}

a, a:active, a:visited {
  color: rgb(55,175,178);
}

a:hover {
  color: #ffffff;
}

h1 {
  text-transform: uppercase;
}

.music {
  text-align: center;
}

.row {
  white-space: nowrap;
}

.music img {
  display: inline;
  width: 50%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pastshows {
  text-align: center;
  margin: 0 auto;
}

footer {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

footer img {
  margin: 0 2px;
  width: 50px;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  opacity: 0.5;
}
