html {
  box-sizing: border-box;
  background-color: #282829;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #ffffff;
}

body {
  max-width: 84ch;
  min-height: 100vh;
  margin: auto;
  padding: 0;
}

header {
  width: 100%;
  margin: 0 auto;
}

p {
  font-size: 1.2em;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
}

a, a:active, a:visited {
  color: rgb(55,175,178);
}

a:hover {
  color: #ffffff;
}

.music {
  text-align: center;
}

.row {
  white-space: nowrap;
}

.music img {
  display: inline;
  width: 50%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

footer {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

footer img {
  margin: 0 2px;
  width: 50px;
}

footer a {
  text-decoration: none;
}

.footerText {
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
}

.social {
  display: inline-block;
  margin: 20px 0;
}

.music a:hover,
.social a:hover {
  opacity: 0.75;
}

@media only screen and (max-width: 414px) {

  h1 {
    padding-left: 1ch;
  }

}
