html {
  box-sizing: border-box;
  background-color: #282829;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #ffffff;
}

body {
  max-width: 84ch;
  min-height: 100vh;
  margin: auto;
  padding: 0;
}

header {
  text-align: center;
  text-transform: uppercase;
}

header h1 {
  margin-bottom: 0;
  font-weight: 400;
  letter-spacing: 1px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

p {
  font-size: 1.2em;
  letter-spacing: 1px;
}

a, a:active, a:visited {
  color: rgb(62,203,207);
  text-decoration: none;
}

a:hover {
  color: #ffffff;
}

a img:hover {
  opacity: 0.5;
}

.music {
  text-align: center;
  white-space: nowrap;
}

.music img {
  display: inline;
  width: 50%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

footer {
  width: 100%;
  text-align: center;
  padding: 12px 0;
}

.social img {
  margin: 0 2px;
  width: 54px;
}

.textlink {
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
}

.social {
  display: inline-block;
  margin: 20px 0;
}

@media only screen and (max-width: 399px) {

  h1 {
    font-size: 1.6em;
  }

  .social img {
    width: 42px;
  }

}
